{% extends 'telekom/BaseNavbar/base.html' %}
{% block title %}Добавление платежей{% endblock %}
{% block content %}
<div class="p-4 my_block_center my_width800" style="margin-top: 60px;">
    <form method="GET">
        <div class="d-flex my_column_gap10">

            <div>
                <select class="form-select my_width200 border border-dark" name="year">
                    {% for y in years %}
                    <option value="{{y}}" {% if y == year %} selected {% endif %}>{{y}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <select class="form-select my_width200 border border-dark" name="month">
                    {% for mon in months %}
                    <option value="{{mon}}" {% if mon == month %} selected {% endif %}>{{mon}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <select class="form-select my_width200 border border-dark" name="day">
                    {% for d in days %}
                    <option value="{{d}}" {% if d == day %} selected {% endif %}>{{d}}</option>
                    {% endfor %}
                </select>
            </div>


            <div>
                <button class="btn btn-success">Поиск</button>
            </div>
        </div>
        
        
    </form>
</div>



{% if year and month %}
<div style="padding: 20px 40px 60px; margin-top: 20px; width: 1200px; margin-left: auto; margin-right: auto; border-radius: 15px; background-color: #3399CC; height: 150px;">
    <div class="d-flex justify-content-between">
        <h5 style="padding: 5px;"><span id="add_or_check_text" style="text-decoration: underline;">Проверить</span> платеж за <span style="color: rgb(255, 255, 255); font-weight: bold; text-decoration: underline;">{{month}} {{year}}</span> года</h5>

        <div class="d-flex" style="column-gap: 10px;">
            <span>Проверка файла</span>
            <input onclick="ChangeSubmitValue2()" form="internetNachisleniyaForm" name="platejiTest" type="checkbox" checked class="form-check-input">
        </div>   
    </div>
    <form action="" method="POST" enctype="multipart/form-data" style="margin-top: 20px;" id="internetNachisleniyaForm">{% csrf_token %} 
        <div class="d-flex importinternetNachisleniyaContainer justify-content-between">
            <div class="file2-input">
                <input type="file" id="file2" class="file2" name="my_file2">
                <label for="file2">
                Выберите Файл
                </label>
                
            </div>
            <div style="background-color: white; width: 770px; height: 38px; border-radius: 5px;"><p class="file2-name"></p></div>
            <input type="hidden" name="platejiSKassy">

     
            <button class="btn btn-primary" onclick="this.form.submit(); this.disabled=true;" form="internetNachisleniyaForm" id="internetNachisleniyaFormSubmit">Проверить</button>
         
            
        </div>
    </form>
</div>
{% endif %}


{% if totalPice %}
<div class="my_width500 my_block_center mt-4 p-2" style="background-color:#b4ffc1; border-radius:8px;">
    <div class="d-flex"><div class="my_width200">TYPE</div><div class="my_width150">PRICE</div><div class="my_width80">COUNT</div></div>
    <hr>
    {% if total_price_internet %}
        <div class="d-flex"><div class="my_width200">Интернет:</div><div class="my_width150">{{total_price_internet}}</div><div class="my_width80">{{intCount}}</div></div>
        <hr>
    {% endif %}

    {% if total_price_abonplata %}
        <div class="d-flex"><div class="my_width200">Абонплата:</div><div class="my_width150">{{total_price_abonplata}}</div><div class="my_width80">{{abonplataCount}}</div></div>
        <hr>
    {% endif %}

    {% if total_price_iptv %}
        <div class="d-flex"><div class="my_width200">Alem TV:</div><div class="my_width150">{{total_price_iptv}}</div><div class="my_width80">{{iptvCount}}</div></div>
        <hr>
    {% endif %}

    {% if total_price_kabel %}
        <div class="d-flex"><div class="my_width200">Кабель TV:</div><div class="my_width150">{{total_price_kabel}}</div><div class="my_width80">{{kabelCount}}</div></div>
        <hr>
    {% endif %}
    
    <div class="d-flex"><div class="my_width200">Всего платежей:</div><div class="my_width150">{{totalPice}}</div><div class="my_width80">{{totalCount}}</div></div>
</div>
{% elif errorManager %}
<div class="my_width500 my_block_center mt-4 p-2" style="background-color:#ffc396; border-radius:8px;">
    <h5 class="text-center">Есть новые менеджеры, надо 
        {% if request.user.is_superuser %}
            <button class="btn btn-success btn-sm">
                <a href="{% url 'kassirs_billing_names' %}">определить</a>
            </button> их этрап</h5>
        {% else %}
            <span>определить их этрап</span>
        {% endif %}
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Менеджер</th>
            </tr>
        </thead>
        <thead>
            {% for name in errorManager %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{name}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>

</div>



{% endif %}


<style>
th {padding: 0 !important; text-align: center;}
td {padding: 0 !important; text-align: center;}
.file2 {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  
.file2-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 37px;
    border-radius: 5px;
    background: linear-gradient(40deg,#ff6ec4,#7873f5);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }
  
.file2-name {
    padding-top: 8px;
    color: black;
    text-align: center;
  }
  
input:hover + label,
input:focus + label {
    transform: scale(1.02);
  }
  
/* Adding an outline to the label on focus */
input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
  }

</style>

<script>

const file2 = document.querySelector('#file2');
file2.addEventListener('change', (e) => {
  // Get the selected file
  const [file2] = e.target.files;
  // Get the file name and size
  const { name: file2Name, size } = file2;
  // Convert size in bytes to kilo bytes
  const file2Size = (size / 1000).toFixed(2);
  // Set the text content
  const file2NameAndSize = `${file2Name} - ${file2Size}KB`;
  document.querySelector('.file2-name').textContent = file2NameAndSize;
});

function ChangeSubmitValue2() {
  if (event.target.checked == true) {
    document.getElementById('internetNachisleniyaFormSubmit').innerHTML = 'Проверить'
    document.getElementById('add_or_check_text').innerHTML = 'Проверить'
    document.getElementById('add_or_check_text').classList.remove('text-danger')
    document.getElementById('internetNachisleniyaFormSubmit').classList.remove('btn-danger')
    document.getElementById('internetNachisleniyaFormSubmit').classList.add('btn-primary')
  } else {
    document.getElementById('internetNachisleniyaFormSubmit').innerHTML = 'Добавить'
    document.getElementById('add_or_check_text').innerHTML = 'Добавить'
    document.getElementById('add_or_check_text').classList.add('text-danger')
    document.getElementById('internetNachisleniyaFormSubmit').classList.add('btn-danger')
    document.getElementById('internetNachisleniyaFormSubmit').classList.remove('btn-primary')
  }
}
</script>



{% endblock %}