{% extends 'telekom/BaseNavbar/base.html' %}
{% block title %}Интернет начисления{% endblock %}
{% block content %}
<div class="Internet_nachisleniya_string"><h2>Интернет Начисления</h2></div>


<div class="InternetNachisleniyaContainer">
    <form action="" method="GET" class="InternetNachisleniyaForm">
        <div>
            <div>Месяц</div>
            <select class="form-select InternetNachisleniyaSearchMonth" name="month">
                {% if get_month %}
                {% else %}
                <option selected value="">Месяц</option>
                {% endif %}
                {% for month in months %}
                    <option {% if get_month == month %} selected {% endif %} value="{{month}}">{{month}}</option>
                {% endfor %}         
            </select>
        </div>

        <div>
            <div>Год</div>
            <select class="form-select InternetNachisleniyaSearchYear" name="year">
                {% for year in years %}
                    <option {% if get_year == year %} selected {% endif %} value="{{year}}">{{year}}</option>
                {% endfor %}         
            </select>
        </div>

        <div>
            <div>Этрап</div>
            <select class="form-select InternetNachisleniyaSearchEtrap" aria-label="Default select example" name="etrap">
                {% for etr in etraps %}
                    {% if etrap %}
                    <option {% if etr == etrap %} selected {% endif %} value="{{etr}}">{{etr}}</option>
                    {% else %}
                    <option {% if etr == log %} selected {% endif %} value="{{etr}}">{{etr}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div>
            <div class="text-light">OFF</div>
            <input type="checkbox" name="off" class="form-check-input" {% if off != 'False' %} checked {% endif %}>
        </div>

        <button class="btn InternetNachisleniyaSearchSubmit btn-success" onclick="this.form.submit(); this.disabled=true;">Поиск</button>
        <!-- <input type="text" value="{{request.get_full_path }}" name="url_from"> -->

    </form>


    <div style="margin-top: 30px; display: flex; justify-content: space-around; width: 100%;">
        <!-- Успешные платежи -->
        <div>


            <div style="background-color: #CCFFCC; height: 580px; border-radius: 10px; width: 500px; color: black; padding: 20px; display: flex; flex-direction: column; row-gap: 10px;">
                {% if get_year and get_month and etrap and off %}
                <div class="d-flex justify-content-between">

                    {% if nothingNach %}
                    <button class="btn btn-secondary" disabled>0 Начислений</button>
                    {% elif alreadyNach or alreadyallNach %}
                    <button class="btn btn-secondary" disabled>Начислено</button>
                    {% elif alreadySeparateNach %}
                    <button class="btn btn-secondary" disabled>Частично начислено</button>
                    {% else %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#internetNachisleniyaBtnModal">Начислить</button>
                    {% endif %}
                    
                    <div class="text-center" >Успешно</div>
                    <div><a href="{% url 'internet-nachisleniya-success-txt' get_year get_month etrap off %}"><button class="btn btn-primary">Скачать .txt</button></a></div>  
                </div>
                {% endif %}
                
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Договору</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{dogoworSuccess}}</div>
                </div>
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Договору Сумма платежа</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{dogoworSuccessPrice|floatformat:2}}</div>
                </div>

                <br>
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Логину</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{loginSuccess}}</div>
                </div>
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Логину Сумма платежа</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{loginSuccessPrice|floatformat:2}}</div>
                </div>
                <!-- ## -->
                <br>
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Логину Old</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{oldLoginSuccess}}</div>
                </div>
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Логину Old Сумма платежа</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{oldLoginSuccessPrice|floatformat:2}}</div>
                </div>

                <br>
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Договору Old</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{oldDogoworSuccess}}</div>
                </div>
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Найденные по Договору Old Сумма платежа</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{oldDogoworSuccessPrice|floatformat:2}}</div>
                </div>

                
                <!-- ### -->
            </div>
        </div>
        <!-- Ошибки -->
        <div>
            <div style="background-color: #FFCCCC; height: 180px; border-radius: 10px; width: 500px; color: black; padding: 20px; display: flex; flex-direction: column; row-gap: 10px;">
                
                <div class="d-flex">
                    <div style="width: 190px;"><a href="{% url 'internet-nachisleniya-error-txt' get_year get_month etrap off %}"><button class="btn btn-primary">Скачать .txt</button></a></div>
                    <div class="text-center" >Ошибка</div>
                </div>
                
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Нет совпадений договор/логин в БД</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{error}}</div>
                </div>

                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Нет совпадений договор/логин в БД, Сумма платежа</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{errorPrice|floatformat:2}}</div>
                </div>

            </div>
        </div>

        <!-- Общая информация -->
        <div>
            <div style="background-color: #CCCCCC; height: 180px; border-radius: 10px; width: 500px; color: black; padding: 20px; display: flex; flex-direction: column; row-gap: 10px;">
                
                <div class="d-flex">
                    <div style="width: 190px;"><a href="{% url 'internet-nachisleniya-total-txt' get_year get_month etrap off %}"><button class="btn btn-primary">Скачать .txt</button></a></div>
                    <div class="text-center" >Общая информация</div>
                </div>
                
                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Всего начислений</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{totalPayCount}}</div>
                </div>

                <div class="d-flex" >
                    <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Всего начислений, Сумма платежа</div>
                    <div style="background-color: white; padding: 5px; width: 200px;">{{totalPayPrice|floatformat:2}}</div>
                </div>

            </div>
        </div>
        

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="internetNachisleniyaBtnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
        <h5>Начисления за {{get_month}} {{get_year}} год</р>
        <h5>Начислить?</h5>
        </div>
        <div class="modal-footer">
            <form action="" method="POST">{% csrf_token %}
                <div>Комментарий</div>
                <textarea name="comment" id="comment" cols="55" rows="10"></textarea>
                <input type="hidden" value="{{get_year}}" name="year">
                <input type="hidden" value="{{get_month}}" name="month">
                <input type="hidden" value="{{request.get_full_path}}" name="url_from">
                <button class="btn btn-primary" onclick="this.form.submit(); this.disabled=true;">Начислить</button>
            </form>
        </div>
        </div>
    </div>
</div>

<style>


.InternetNachisleniyaContainer {
   color: white;
   margin: 20px 40px;
}
 .InternetNachisleniyaSearchMonth, .InternetNachisleniyaSearchYear, .InternetNachisleniyaSearchEtrap{
   width: 160px;
   background-color: #FFD700;
}
.InternetNachisleniyaForm {
   display: flex;
   column-gap: 10px;
   align-items: flex-end;
   margin-left: auto;
   margin-right: auto;
   width: 570px;
}
.InternetNachisleniyaSearchSubmit {
   height: fit-content;
   background-color: #FFD700;
   color: black;
}
</style>

{% endblock %}