{% extends 'telekom/BaseNavbar/base.html' %}
{% block title %}Доп. услуги начисления{% endblock %}
{% block content %}

<div class="dop_uslugi_nachisleniya_string"><h2>Доп. услуги Начисления</h2></div>

<form action="" method="GET" class="dop_uslugiNachisleniyaForm text-light">
    <div>
        <div>Месяц</div>
        <select class="form-select dop_uslugiNachisleniyaSearchMonth bg-gold" name="month">
            {% if get_month %}
            {% else %}
            <option selected value="">Месяц</option>
            {% endif %}
            {% for month in months %}
                <option {% if get_month == month %} selected {% endif %} value="{{month}}">{{month}}</option>
            {% endfor %}         
        </select>
    </div>

    <div>
        <div>Год</div>
        <select class="form-select dop_uslugiNachisleniyaSearchYear bg-gold" name="year">
            {% for year in years %}
                <option {% if get_year == year %} selected {% endif %} value="{{year}}">{{year}}</option>
            {% endfor %}         
        </select>
    </div>

    <div>
        <div>Этрап</div>
        <select class="form-select dop_uslugiNachisleniyaSearchEtrap bg-gold" aria-label="Default select example" name="etrap">
            {% for etr in etraps %}
                {% if etrap %}
                <option {% if etr == etrap %} selected {% endif %} value="{{etr}}">{{etr}}</option>
                {% else %}
                <option {% if etr == log %} selected {% endif %} value="{{etr}}">{{etr}}</option>
                {% endif %}
            {% endfor %}
            <option {% if etrap == 'all' %} selected {% endif %} value="all">Все</option>
        </select>
    </div>

    <button class="btn dop_uslugiNachisleniyaSearchSubmit btn-success" onclick="this.form.submit(); this.disabled=true;">Поиск</button>
    <!-- <input type="text" value="{{request.get_full_path }}" name="url_from"> -->

</form>



<div style="margin-top: 30px; display: flex; justify-content: space-around; width: 100%;">
    <!-- Общая информация -->
    <div>
        <div style="background-color: #CCFFCC; height: 180px; border-radius: 10px; width: 500px; color: black; padding: 20px; display: flex; flex-direction: column; row-gap: 10px;">
            
            <div class="d-flex justify-content-between">
                <div><a href="{% url 'dop-uslugi-txt-nachisleniya' get_year get_month etrap %}"><button class="btn btn-primary">Скачать .txt</button></a></div>
                <div>Общая информация</div>
                <button type="button" class="btn {% if alreadyNach %}btn-secondary{% else %}btn-primary{% endif %}" data-bs-toggle="modal" data-bs-target="#dop_uslugiNachisleniyaBtnModal" {% if alreadyNach %}disabled{% endif %}>{% if alreadyNach %}Начислено{% else %}Начислить{% endif %}</button>
                <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dop_uslugiNachisleniyaBtnModal">Начислить</button> -->
            </div>
            
            <div class="d-flex" >
                <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">кол-во абонентов с услугами</div>
                <div style="background-color: white; padding: 5px; width: 200px;">{{lenSuccesCount}}</div>
            </div>

            <div class="d-flex" >
                <div style="background-color: #99CCFF; padding: 5px; border-radius: 5px; width: 500px;">Общая сумма начисления</div>
                <div style="background-color: white; padding: 5px; width: 200px;">{{totalSum|floatformat:2}}</div>
            </div>

        </div>
    </div>

</div>



<!-- Modal -->
<div class="modal fade" id="dop_uslugiNachisleniyaBtnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
        <h5>Начисления за {{get_month}} {{get_year}} год</р>
        <h5>Начислить?</h5>
        </div>
        <div class="modal-footer">
            <form action="" method="POST">{% csrf_token %}
                <div>Комментарий</div>
                <textarea name="comment" id="comment" cols="55" rows="10"></textarea>
                <input type="hidden" value="{{get_year}}" name="year">
                <input type="hidden" value="{{get_month}}" name="month">
                <input type="hidden" value="{{request.get_full_path}}" name="url_from">
                <button class="btn btn-primary" onclick="this.form.submit(); this.disabled=true;">Начислить</button>
            </form>
        </div>
        </div>
    </div>
</div>



<style>
.dop_uslugiNachisleniyaForm {
    display: flex;
    column-gap: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.dop_uslugiNachisleniyaSearchSubmit {
    height: fit-content;
    margin-top: 25px;
}

.dop_uslugi_nachisleniya_string{
    color: white; 
    position: absolute; 
    top: 70px; 
    left: 50px;
    background-color: #6495ED;
    padding: 10px;
    border-radius: 10px;
}
</style>


{% endblock %}