
{% if request.user.is_superuser or request.user.username == 'Gayyp' or request.user.username == 'lenashb' or request.user.username == 'yhlas_mtb' %}
<table class="kassa-receipt-history-table" style="background-color: white; width: 350px;" >
    <thead>
        <tr>
            <th>Услуга</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Кассир</th>
            {% if KassaMTB %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for lastPay in lastPays1 %}

        {% if lastPay.telefon != 0%}
        <tr class="col2">
            <td>Абонплата</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.telefon|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        {% if lastPay.slr != 0%}
        <tr class="col3">
            <td>СЛР</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.slr|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        {% if lastPay.kod != 0%}
        <tr class="col4">
            <td>Код</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.kod|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        {% if lastPay.zakaz != 0%}
        <tr class="col5">
            <td>Заказ</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.zakaz|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        {% if lastPay.prochee != 0%}
        <tr class="col6">
            <td>Прочее</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.prochee|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        {% if lastPay.dop_uslugi != 0%}
        <tr class="col7">
            <td>Доп. усл</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.dop_uslugi|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        
        {% if lastPay.internet != 0%}
        <tr class="col8">
            <td>Интернет</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.internet|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %} 
        {% if lastPay.kabel != 0%}
        <tr class="col9">
            <td>Кабель TV</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.kabel|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        {% if lastPay.alem != 0%}
        <tr class="col10">
            <td>Alem TV</td>
            <td>{{lastPay.date|date:'d M Y'}}</td>
            <td>{{lastPay.alem|floatformat:2}}</td>
            <td>{{lastPay.kassir}}</td>
        </tr>
        {% endif %}
        <!-- <td style="height: 2px; background-color: black;"></td>
        <td style="height: 2px; background-color: black;"></td>
        <td style="height: 2px; background-color: black;"></td>
        <td style="height: 2px; background-color: black;"></td> -->

        <!-- Btn Modal  cancelPayBtnModal-->
        <td style="border: none; padding: 0 !important; margin: 0 !important;" colspan="2"><button style="margin-bottom: 20px;" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelPayBtnModal{{lastPay.pk}}">Удалить платеж</button></td>
        <!-- Btn Modal  perekidkaPayBtnModal-->
        {% if request.user.is_superuser %}
        <td style="border: none; padding: 0 !important; margin: 0 !important;" colspan="2"><button style="margin-bottom: 20px;" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#perekidkaPayBtnModal{{lastPay.pk}}">Перекидка платежа</button></td>
        {% endif %}
        <!-- Modal  cancelPayBtnModal-->
        <div class="modal fade" id="cancelPayBtnModal{{lastPay.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-footer">
                        <form action="" method="POST" id="">{% csrf_token %}
                            <textarea name="cancelPayComment" cols="45" rows="10" placeholder="Комментарий"></textarea>
                            <div class="d-flex justify-content-between my_width500">
                                <div class="pt-2 fw-bold text-danger">Удалить безвозвратно платеж?</div>
                                <input type="hidden" name="payPkCancelPay" value="{{lastPay.pk}}">
                                <div><button class="btn btn-danger" onclick="this.form.submit(); this.disabled=true;">Удалить</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal  perekidkaPayBtnModal-->
        <div class="modal fade" id="perekidkaPayBtnModal{{lastPay.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-footer">
                        <form action="" method="POST">{% csrf_token %}
                            <textarea name="perekidkaComment" cols="45" rows="10" placeholder="Комментарий"></textarea>
                            <div class="d-flex justify-content-between my_width500">
                                <div class="pt-2 fw-bold text-danger">Перекинуть платеж?</div>
                                <input type="hidden" name="payPkPerekidka" value="{{lastPay.pk}}">
                                <div><button class="btn btn-danger" onclick="this.form.submit(); this.disabled=true;">Перекинутьпп</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% for kp in kabel_pays1 %}
        <tr class="col9">
            <td>Кабель TV</td>
            <td>{{kp.pay_date|date:'d M Y'}}</td>
            <td>{{kp.pay|floatformat:2}}</td>
            <td>{{kp.pay_kassir}}</td>
        </tr>
        {% if request.user.is_superuser or request.user.username == 'Gayyp' or request.user.username == 'lenashb' or request.user.username == 'yhlas_mtb' %}
        <!-- Btn Modal  cancelKabelPayBtnModal-->
        <td style="border: none; padding: 0 !important; margin: 0 !important;" colspan="2"><button style="margin-bottom: 20px;" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#cancelKabelPayBtnModal{{kp.pk}}">Удалить платеж</button></td>
        <!-- Modal  cancelKabelPayBtnModal-->
        <div class="modal fade" id="cancelKabelPayBtnModal{{kp.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-footer">
                        <form action="" method="POST" id="">{% csrf_token %}
                            <textarea name="cancelKabelPayComment" cols="45" rows="10" placeholder="Комментарий"></textarea>
                            <div class="d-flex justify-content-between my_width500">
                                <div class="pt-2 fw-bold text-danger">Удалить безвозвратно платеж кабельного ТВ?</div>
                                <input type="hidden" name="payPkCancelKabelPay" value="{{kp.pk}}">
                                <div><button class="btn btn-danger" onclick="this.form.submit(); this.disabled=true;">Удалить</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </tbody>

<script>

try {

    (function () {
document
    .getElementById("numberPerekidka")
    .addEventListener("keydown", function (e) {
    if (e.keyCode !== 8 && e.keyCode !== 46) {
        if (document.activeElement.value.length == 1) {
        document.activeElement.value += "-";
        }
        if (document.activeElement.value.length == 4) {
        document.activeElement.value += "-";
        }
    }
    });
})();

} catch (err) {

// обработка ошибки

}



</script>
</table>
{% endif %}




